<h1>Carts#show</h1>
<table>
  <% @cart_products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td>
      <%=link_to "" , data: {targetUrl: remove_from_cart_path(product)} do%>
        <i>x</i>
      <%end%>
    </td>
  </tr>
  <% end %>
</table>
