<h1>Your Cart</h1>
<table>
  <% @cart_products.each do |product| %>
  <tr class="product-in-cart">
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td>
      <%=link_to "" , class: "cart-remove-button", data: {targetUrl: remove_from_cart_path(product)} do%>
        <i>x</i>
      <%end%>
    </td>
    <td>
      <%= link_to "Checkout", new_transactions_path(product_id: product.id) %>
    </td>
  </tr>
  <% end %>
</table>
