<h1>Carts#show</h1>
<table>
  <% @cart_products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Remove" %></td>
  </tr>
  <% end %>
</table>
