
<div class="grid">
  <div class="grid-sizer"></div>
    <% products.each do |product| %>
      <div class="grid-item">
        <%= link_to image_tag(product.photo_url), product %>
      </div>
      <% end %>
</div>